body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
}
ul li{
  padding: 5px;
}
p{margin: 0px;
}
.carousel-2{
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/carousel-2.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.carousel-1{
  width: 300px;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:  url("../public/carousel-1.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.carousel-1 h1{
  font-size: 40px;
}
.carousel-2 h1{
  font-size: 40px;
}